# exclude everything
OpenCv/calibration/dataset/*

__pycache__/
.env
PyTorch/MobileNetV3/VOC2012/
PyTorch/MNIST
OpenCv/calibration/dataset
OpenCv/IOT_detection/sus
kaggle.json
Classification-Models/dataset
Research